.marker {
  background-color: #f50057;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  width: 22px;
  height: 25px;
  color: white;
  display: flex;
  font-weight: bolder;
  font-size: 22;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.wayPointMarker {
  width: 42px;
  height: 40px;
  border: 2px solid #00e676;
  border-radius: 22px;
  z-index: 10;
  background-color: #00e676;
}
.liner {
  width: 1px;
  height: 1px;
  border-radius: 5px;
  background-color: black;
}
